In [1]:
#必要ライブラリのインポート
import pandas as pd
import csv as csv
from sklearn.ensemble import RandomForestClassifier

In [2]:
#データのロード
train = pd.read_csv("train.csv")

In [3]:
#データを分割
train_x = train.drop(["Name","Survived","Ticket","Cabin","Embarked",], axis=1)
train_y = train["Survived"]

#欠損値の確認
train_x.isnull().sum()

PassengerId      0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [4]:
train_x["Sex"] = train_x["Sex"].str.replace('female','2')
train_x["Sex"] = train_x["Sex"].str.replace('male','1')
train_x["Sex"]

0      1
1      2
2      2
3      2
4      1
      ..
886    1
887    2
888    2
889    1
890    1
Name: Sex, Length: 891, dtype: object

In [5]:
average_age = train_x["Age"].mean()

#欠損値を平均年齢で穴埋め
train_x["Age"] = train_x["Age"].fillna(average_age)
train_x["Age"]

train_x.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [7]:
#モデルの構築
# for i in range(1,100):
#     model = RandomForestClassifier(n_estimators=i, max_depth=None, max_features='auto', 
#                                    n_jobs=None, random_state=0,verbose=0)
#     model.fit(train_x, train_y)
#     print(str(i) + ":" + str(model.score(train_x, train_y)))

1:0.9046015712682379
2:0.9057239057239057
3:0.9494949494949495
4:0.9438832772166106
5:0.9640852974186308
6:0.9595959595959596
7:0.9741863075196409
8:0.9730639730639731
9:0.9797979797979798
10:0.9775533108866442
11:0.9842873176206509
12:0.9820426487093153
13:0.9887766554433222
14:0.9865319865319865
15:0.9887766554433222
16:0.9854096520763187
17:0.9921436588103255
18:0.98989898989899
19:0.9932659932659933
20:0.9932659932659933
21:0.9966329966329966
22:0.9943883277216611
23:0.9988776655443322
24:0.9966329966329966
25:0.9988776655443322
26:0.9943883277216611
27:0.9988776655443322
28:0.9977553310886644
29:0.9977553310886644
30:0.9966329966329966
31:0.9988776655443322
32:0.9966329966329966
33:0.9977553310886644
34:0.9977553310886644
35:0.9977553310886644
36:0.9977553310886644
37:0.9988776655443322
38:0.9988776655443322
39:0.9988776655443322
40:0.9988776655443322
41:0.9988776655443322
42:0.9988776655443322
43:0.9977553310886644
44:0.9977553310886644
45:0.9977553310886644
46:0.9977553310886644
47:0.9977553310886644
48:0.9988776655443322
49:1.0
50:1.0
51:1.0
52:1.0
53:1.0
54:1.0
55:1.0
56:1.0
57:1.0
58:1.0
59:1.0
60:1.0
61:1.0
62:1.0
63:1.0
64:1.0
65:0.9988776655443322
66:1.0
67:1.0
68:1.0
69:1.0
70:1.0
71:1.0
72:1.0
73:1.0
74:1.0
75:1.0
76:1.0
77:1.0
78:1.0
79:1.0
80:1.0
81:1.0
82:1.0
83:1.0
84:1.0
85:1.0
86:1.0
87:1.0
88:1.0
89:1.0
90:1.0
91:1.0
92:1.0
93:1.0
94:1.0
95:1.0
96:1.0
97:1.0
98:1.0
99:1.0

In [8]:
model = RandomForestClassifier(n_estimators=17, max_depth=5, max_features='auto', 
                                   n_jobs=None, random_state=0,verbose=0)
model.fit(train_x, train_y)
print(model.score(train_x, train_y))

0.9921436588103255

In [9]:
test = pd.read_csv("test.csv")
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [10]:
ids = test["PassengerId"].values
test = test.drop(["Name","Ticket","Cabin","Embarked"], axis=1)
test

     PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare
0            892       3    male  34.5      0      0    7.8292
1            893       3  female  47.0      1      0    7.0000
2            894       2    male  62.0      0      0    9.6875
3            895       3    male  27.0      0      0    8.6625
4            896       3  female  22.0      1      1   12.2875
..           ...     ...     ...   ...    ...    ...       ...
413         1305       3    male   NaN      0      0    8.0500
414         1306       1  female  39.0      0      0  108.9000
415         1307       3    male  38.5      0      0    7.2500
416         1308       3    male   NaN      0      0    8.0500
417         1309       3    male   NaN      1      1   22.3583

[418 rows x 7 columns]

In [11]:
train_x.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [12]:
#欠損値を平均年齢で穴埋め
test["Age"] = test["Age"].fillna(average_age)
test["Fare"] = test["Fare"].fillna(test["Fare"].mean())

test.isnull().sum()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [13]:
test["Sex"] = test["Sex"].str.replace('female','2')
test["Sex"] = test["Sex"].str.replace('male','1')
test["Sex"]

0      1
1      2
2      1
3      1
4      2
      ..
413    1
414    2
415    1
416    1
417    1
Name: Sex, Length: 418, dtype: object

In [14]:
result = model.predict(test)

In [15]:
submit_file = open("titanic_submit2.csv", "w")
file_object = csv.writer(submit_file)
file_object.writerow(["PassengerId", "Survived"])
file_object.writerows(zip(ids, result))
submit_file.close()